html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 10px;
}

ul {
  list-style: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  padding: 2rem 0;
}
.header__nav .mobile__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__nav img {
  height: 3rem;
  margin-right: 5rem;
  display: none;
}
.header__nav--list {
  display: flex;
  align-items: center;
  margin-right: 15rem;
}
.header__nav--list--items {
  margin: 0 1.3rem;
}
.header__nav--list--items a {
  text-decoration: none;
  color: #cacaca;
  font-size: 1.9rem;
}
.header__nav--list--items a:hover {
  color: white;
}
.header__nav h3 {
  color: #cacaca;
  margin: 15rem;
  font-size: 2.5rem;
  display: inline-block;
  margin: 0 0 0 15rem;
}

.active__nav {
  background-color: white;
  box-shadow: -5px 0px 61px 0px #939393;
}
.active__nav h3 {
  color: #528ED6;
}
.active__nav a {
  color: black;
}
.active__nav a:hover {
  color: #528ED6;
}

.activeScroll {
  color: #528ED6 !important;
}

@media (max-width: 1075px) {
  .header__nav--list {
    margin-right: 5rem;
  }
  .header__nav h3 {
    margin-left: 5rem;
  }
}
@media (max-width: 965px) {
  .header__nav {
    flex-direction: column;
    background-color: white;
  }
  .header__nav--list {
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    display: none;
    margin-left: 5rem;
    margin-top: 2rem;
    padding: 0;
  }
  .header__nav--list--items {
    margin: 0.7rem 0;
    width: 10rem;
  }
  .header__nav img {
    display: block;
  }
  .header__nav a {
    color: black;
    text-align: left;
  }
  .header__nav a:hover {
    color: #528ED6;
  }
  .header__nav img:hover {
    cursor: pointer;
  }
  .header__nav h3 {
    color: #528ED6;
  }
}
@media (max-width: 575px) {
  .mobile__nav h3 {
    margin-left: 2rem;
  }
  .mobile__nav img {
    margin-right: 2rem;
  }

  .header__nav--list {
    margin-left: 2rem;
  }
}
.header {
  height: 100vh;
  background: linear-gradient(rgba(214, 215, 223, 0.3), rgba(214, 215, 223, 0.1)), url("../../img/header.jpg");
  background-size: cover;
  padding: 0.1rem;
}
.header__heading {
  text-align: center;
  margin-top: 25rem;
}
.header__heading h1 {
  font-size: 6rem;
  color: white;
  width: 65rem;
  margin: 0 auto;
}
.header__heading a {
  background-color: #528ED6;
  color: white;
  padding: 1.8rem 3.5rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-top: 3.5rem;
  text-decoration: none;
  display: inline-block;
}
.header__heading a:hover {
  background-color: #3076ca;
}

@media (max-width: 945px) {
  .header__heading {
    margin-top: 30rem;
  }
  .header__heading h1 {
    font-size: 4.5rem;
    width: 55rem;
  }
  .header__heading a {
    padding: 1.5rem 2.8rem;
  }
}
@media (max-width: 545px) {
  .header__heading h1 {
    max-width: 95%;
    font-size: 4rem;
  }
}
.about {
  background-color: #528ED6;
  padding: 0.1rem;
  text-align: center;
}
.about__line {
  background-color: white;
  height: 0.3rem;
  width: 5rem;
  margin: 2.5rem auto;
}
.about h1 {
  color: #f2f2f2;
  font-size: 2.9rem;
  margin: 9rem auto 2rem;
}
.about p {
  color: #f2f2f2;
  font-size: 2.1rem;
  line-height: 3rem;
  width: 75rem;
  margin: 2rem auto 5rem;
  margin-bottom: 10rem;
}

@media (max-width: 790px) {
  .about p {
    max-width: 90%;
  }
}
.skills h1 {
  font-size: 2.9rem;
  margin: 12rem auto 2.5rem;
  text-align: center;
}
.skills__line {
  background-color: #528ED6;
  width: 5rem;
  height: 0.4rem;
  margin: 2rem auto;
}
.skills__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 7rem auto 10rem;
  flex-wrap: wrap;
}
.skills__list--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 2.5rem;
  width: 17rem;
}
.skills__list--item img {
  width: 9rem;
}
.skills__list--item h3 {
  font-size: 2.4rem;
  margin: 2rem auto 0;
}
.skills__list--item p {
  font-size: 1.7rem;
  color: #939393;
  margin-top: 0.9rem;
}

@media (max-width: 885px) {
  .skills__list--item {
    width: 25rem;
    margin: 1.5rem 3rem;
  }
}
@media (max-width: 630px) {
  .skills__list--item {
    width: 30rem;
    margin: 3.5rem auto;
  }

  .skills__list--item:first-child {
    margin-top: 0;
  }
}
.portfolio {
  background: #F4F9FF;
  padding: 0.1rem;
  width: 100%;
}
.portfolio h1 {
  font-size: 2.9rem;
  text-align: center;
  margin: 12rem auto 1rem;
}
.portfolio__line {
  background-color: #528ED6;
  height: 0.4rem;
  width: 5rem;
  margin: 2rem auto 7rem;
}
.portfolio__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  width: 140rem;
  margin: 0 auto 7rem;
}
.portfolio__item {
  width: 30%;
  height: 52rem;
  margin: 0 2rem 2.5rem;
  background-color: white;
  box-shadow: 0px 0px 66px 0px #939393;
  border-radius: 0.5rem;
  position: relative;
}
.portfolio__item--image {
  width: 100%;
  height: 25rem;
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/panthers-website.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item .two {
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/papers.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item .three {
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/jsWeather.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item .four {
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/medical-clinic.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item .five {
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/charlotte.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item .six {
  background: linear-gradient(rgba(82, 142, 214, 0.6), rgba(82, 142, 214, 0.6)), url("../../img/luxuryHotel.png");
  background-size: cover;
  background-position: center;
}
.portfolio__item--line {
  height: 0.4rem;
  width: 11rem;
  margin: 0.9rem 2.5rem 2rem;
  background-color: #528ED6;
}
.portfolio__item h3 {
  font-size: 2.1rem;
  margin: 2.5rem 2.5rem 1rem;
}
.portfolio__item p {
  font-size: 1.6rem;
  margin: 0 2.5rem 2rem;
  line-height: 2.7rem;
}
.portfolio__item a {
  background-color: #528ED6;
  color: white;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  padding: 1rem 2.2rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.portfolio__item a:hover {
  background-color: #3076ca;
}

@media (max-width: 1390px) {
  .portfolio__item {
    width: 37rem;
  }

  .portfolio__list {
    max-width: 97%;
  }
}
@media (max-width: 1270px) {
  .portfolio__item {
    width: 49rem;
  }
}
@media (max-width: 1100px) {
  .portfolio__item {
    width: 40rem;
  }
}
@media (max-width: 910px) {
  .portfolio__item {
    width: 59rem;
  }
}
.footer {
  background-color: #528ED6;
  padding: 0.1rem;
}
.footer__heading {
  width: 50rem;
  color: white;
  text-align: center;
  margin: 11rem auto 4rem;
  max-width: 90%;
}
.footer__heading h1 {
  font-size: 2.9rem;
  margin: auto;
}
.footer__heading p {
  font-size: 1.9rem;
  line-height: 2.8rem;
  margin-bottom: 0;
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}
.footer__social {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.footer__social--item {
  background-color: #255c9d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  text-align: center;
}
.footer__social--item img {
  height: 3.8rem;
}
.footer__social--item a {
  text-decoration: none;
  font-size: 1.7rem;
  width: 17rem;
  font-weight: bold;
  color: white;
  display: block;
}
.footer span {
  display: block;
  color: white;
  text-align: center;
  margin: 6rem auto 3rem;
  font-size: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
