/*-- Basic Styles --*/
* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}


/*-- Header/Nav Styles --*/

header {
    height: 575px;
    background: linear-gradient(#aaa 1%, transparent 80%),
        url("../img/mountains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

#heading {
    color: #eee;
    margin-top: 100px;
    text-align: center;
}

#heading h1 {
    margin: 20px 0;
    font-size: 5em;
}

#heading p {
    font-size: 1.5em;
    color: #369cb0;
}

/*-- About Me Styles --*/

#mainContent {
    width: 90%;
    margin: auto;
}

#mainContent h1 {
    text-align: center;
    margin: 85px 0 30px; 
    font-size: 3.3em;
    color: #369cb0;
}

#mainContent p {
    font-size: 1.3em;
    line-height: 1.6em;
    color: #333;
    text-align: center;
}

#mainContent img {
    border-radius: 3px;
    display: block;
    margin: 15px auto;
}


/*-- Social Div Styles --*/


#social {
    background-color: #eee;
    padding: 10px 0;
    margin-top: 75px;
}

#social img {
   margin: 25px auto; 
   display: block;
   height: 65px;
}


/*-- Portfolio Styles --*/


#portfolio h1 {
    font-size: 3.3em;
    text-align: center;
    margin: 70px 0 30px;
    color: #369cb0;
}

#portfolio li {
    width: 95%;
    background-color: #eee;
    text-align: center;
    margin: 35px auto;
    padding: 10px;
    border-radius: 1px;
    border: 1px solid #369cb0;
    min-height: 350px;
    max-width: 425px;
}

#portfolio li:hover {
    cursor: pointer;
    background: #f1f2f4;
}

#portfolio h2 {
    margin: 10px auto;
    color: #369cb0;
    font-size: 1.7em;
}

#portfolio p {
    margin-bottom: 10px;
    font-size: 1em;
}

#portfolio ul {
    list-style: none;
    padding: inherit;
}

#portfolio a {
    color: #222;
}


/*-- Footer Styles --*/

footer {
    height: 110px;
    background-color: #333;
}

footer span {
    font-size: 1.1em; 
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    color: #ccc;
}


/*-- Media Queries --*/

@media (min-width: 750px) {
    
    #mainContent img {
        display: inline-block;
        float: left;
        margin: 10px 20px;
    }
    
    #mainContent p {
        text-align: left;
    }
    
    #mainContent {
        max-width: 70%;
    }
    
    #heading {
        margin-top: 150px
    }
    
    #social {
        display: flex;
        justify-content: center;
        height: 100px;
        align-items: center;
    }
    
    #social a {
        margin: 0 30px;
    }
    
    #social img {
        height: 55px;
    }
    
}

@media (min-width: 1000px) {
   
    #portfolio ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    #portfolio li {
        margin: 20px;
    }
}


@media (min-width: 1395px) {
    #container {
        display: flex;
        flex-direction: row;;
        min-height: 1000px;
        align-content: flex-start;
        margin-top: 75px;
    }
    
    #portfolio {
        flex: 2;
        margin-left: 50px;
    }
    
    #mainContent {
        flex: 1;
        margin-left: 100px;
        margin-top: 0;
    }
    
    #mainContent img {
        width: 250px;
        height: 280px;
        margin-bottom: 5px;
    }
    
    #mainContent h1 {
        margin-top: 0;
        margin-bottom: 40px;
    }
    
    #portfolio li {
        height: 300px;
        width: 370px;
    }
    
    #portfolio h1 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    
    #portfolio img {
        width: 200px;
        height: 150px;
    }
}















