* {
    font-family: 'Raleway', sans-serif;
}

#resume {
    text-align: center;
}


@media (min-width: 1113px) {
    #resume img {
        width: 700px;
        height: 800px;
    }
    
    #resume {
        max-width: 60%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        padding-bottom: 20px;
        padding-top: 20px;
        transition: background 1.3s;
    }

   #resume:hover {
     background: #2b7a78;
   }
    

   #resumeH3 {
        text-align: center;
        margin-top: 60px;
        margin-bottom: -20px;
        font-size: 2em;
    }
}