.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all .5s;
    padding: 2rem 0;

    .mobile-menu {
        height: 2.45rem;
        margin-right: 5rem;
        display: none;
        position: fixed;
        top: 5.7rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
    }

    .mobile-background {
        width: 100vw;
        position: fixed;
        z-index: 101;
        top: -2.5rem;
        left: 0;
        height: .5rem;
        background-color: #fff;
        transition: all .33s;
        // box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    }

    &--list {
        display: flex;
        align-items: center;
        margin-right: 15rem;

        &--items {
            margin: 0 1.3rem;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.9rem;
            }

            a:hover {
                color: white;
            }
        }
    }

    h3 {
        color: #fff;
        font-size: 2.5rem;
        display: inline-block;
        margin-left: 15rem;
    }
}

.active__nav {
    background-color: white;
    box-shadow: -5px 0px 61px 0px rgba(147,147,147,1);

    h3 {
        color: #528ED6;
    }

    a {
        color: black;
    }

    a:hover {
        color: #528ED6;
    }
}

.activeScroll {
    color: #528ED6 !important;
}


//animations
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


//media queries
@media(max-width: 1075px) {
    .header__nav {
        &--list {
            margin-right: 5rem;
        }

        .site-logo {
            margin-left: 5rem;
        }
    }
}

@media(max-width: 965px) {
    .header__nav {
        flex-direction: column;
        background-color: white;
        height: 5rem;

        .mobile-menu {
            display: block;
        }

        .site-logo {
            position: fixed;
            z-index: 200;
            left: 50%;
            top: 1.7rem;
            transform: translateX(-50%);
            margin: 0;
            width: 20rem;
        }

        &--list {
            flex-direction: column;
            text-align: center;
            position: fixed;
            z-index: 500;
            top: 9rem;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            transition: all .33s;

            &--items {
                margin: 1.5rem 0;
                width: 10rem;

                a {
                    font-size: 2.2rem;
                    letter-spacing: .1rem;
                }
            }
        }

        a {
            color: black;
            text-align: left;
        }

        a:hover {
            color: #528ED6;
        }

        img:hover {
            cursor: pointer;
        }

        h3 {
            color: #528ED6;
        }
    }
}