.contact {
    height: 30rem;
    background: linear-gradient(transparent, #222 90%), 
                url("../img/forest-fog.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 12rem;
        width: 20rem;
        margin: 0 1rem;
        border-radius: .2rem;
        background-color: #eee;
        border-bottom: 4px solid #51b3a6;
        padding: 0 1rem;
        
        a {
            display: block;
            text-decoration: none;
            color: #333;
            font-size: .8rem;
            margin-top: 1rem;
            text-align: center;
        }
        
        h3 {
            font-size: 1rem;
            margin: .5rem;
        }
        
        img {
            width: 1.5rem;
        }
        
        hr {
            height: 4px;
            width: 3rem;
            background: #51b3a6;
            border: none;
        }
    }
}

/*-- MEDIA QUERIES --*/

@media(max-width: 760px) {
    .contact {
        flex-direction: column;
        height: auto;
        padding: 5rem 0 3rem;
        
        &__info {
            margin: .5rem;
            max-width: 85%;
            width: 30rem;
        }
    }
}







