.portfolio {
    background-color: $secondary-gray;
    padding: .1rem;

    &__title {
        @include displayFlex(column, flex-start, center);
        width: 60rem;
        max-width: 95%;
        margin: 5.5rem auto 0;

        h2 {
            color: $secondary-blue;
            font-size: 2.25rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-weight: 400;
        }
    
        .line {
            height: .125rem;
            background-color: $secondary-blue;
            width: 3.5rem;
            margin-top: .25rem;
        }
    }

    &__list {
        @include displayFlex(row, space-between, flex-start);
        margin: 5rem auto 5.5rem;
        width: 75rem;
        max-width: 90%;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
    }

    &__listItem {
        @include displayFlex(row, space-between, flex-start);
        width: 100%;
        position: relative;
        margin-bottom: 1rem;
        box-shadow: 0px 0px 15px 0px #777;
        overflow: hidden;
        border-radius: .25rem;


        &-image {
            width: 55%;

            img {
                width: 100%;
                transform: scale(1.015);
            }
        }

        &-info {
            @include displayFlex(column, flex-start, flex-start);
            width: 45%;
            background-color: lighten($main-gray, 5%);
            padding: 0 1.5rem;
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;

            h3 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.75rem;
                margin-top: 1.75rem;
            }

            .line {
                width: 4.5rem;
                height: .1rem;
                background-color: $secondary-blue;
                margin-top: .55rem;
            }

            &__list {
                list-style: none;
                margin: 1rem 0;

                &Item {
                    font-size: 1.15rem;
                    @include displayFlex(row, flex-start, flex-end);
                    margin-bottom: .5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            a {
                text-decoration: none;
                color: white;
                background-color: $secondary-blue;
                border: .2rem solid $secondary-blue;
                font-size: 1rem;
                letter-spacing: .1rem;
                font-weight: 400;
                height: 2.5rem;
                width: 9rem;
                border-radius: .25rem;
                margin-bottom: .5rem;
                @include displayFlex(row, center, center);
                transition: all .35s;

                &:hover {
                    background-color: transparent;
                    color: $secondary-blue;
                    font-weight: 600;
                }
            }

            .buttons {
                @include displayFlex(column, flex-start,flex-start);
            }
        }
    }

    .odd {
        flex-direction: row-reverse;

        .portfolio__listItem-info {
            align-items: flex-end;
            left: 0;

            &__listItem {
                justify-content: flex-end;
            }
        }
    }
}

// media queries
@media(max-width: 1050px) {
    .portfolio__listItem {
        &-info {
            width: 40%;
        }

        &-image {
            width: 60%;
        }
    }
}

@media(max-width: 1015px) {
    .portfolio__listItem {
        flex-direction: column;

        &-info {
            width: 100%;
            background-color: rgba(0,0,0,.75);

            h3 {
                color: white;
                opacity: .9;
            }

            .line {
                background-color: $main-red;
            }

            &__listItem {
                color: white;
                opacity: .75;
            }

            a {
                background-color: $main-red;
                border: .2rem solid $main-red;

                &:hover {
                    color: $main-red;
                }
            }
        }

        &-image {
            width: 100%;
        }
    }
}

@media(max-width: 675px) {
    .portfolio__listItem {
        &-info {
            .buttons {
                flex-direction: row;

                a {
                    margin-right: .75rem;
                }
            }

            &__list {
                @include displayFlex(row, flex-start, flex-start);
                margin: .75rem 0;

                &Item {
                    margin-right: .55rem;
                }
            }
        }
    }

    .portfolio {
        .odd {
            .portfolio__listItem-info {
                .buttons a {
                    margin-right: 0;
                    margin-left: .75rem;
                }

                &__listItem {
                    margin-right: 0;
                    margin-left: .55rem;
                }
            }
        }
    }
}